body{
	margin: 0;
	padding: 0;
}
nav{
 background-color: rgb(248, 248, 248);
 position:  fixed;
 top: 0; left: 0; right: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: .5rem 9%; 
 box-shadow:1rem .2rem 1rem;
}
.header{
	padding-left: 150px;
}

.header a{
	padding-left: 15px;
	font-size: 1.3rem;
	text-decoration: none;
    color: black;
}
.icons{
	font-size: 20px;
}

.icons :hover{
   color: orange;
}
.header a:hover{
    color: orange;
}
.logo{
    width: 5rem;
    height:5rem;
}
/* loging window */
.loging {
	position: absolute;
	top: 0;  right: 30rem;
	height: 22rem;
	max-width: 80rem;
	justify-content: center;
	align-items: center;
	background: darkgrey;	
	transform: translate(-50%,-50%) scale(0.1);
	visibility: hidden;
	display: flex;
	opacity: .8;
}

.open-popup{
	visibility: visible;
	top: 400px;
	transform: translate(-50%,-50%) scale(1);
	transition: transform 0.4s, top 0.4s;
}
.loging form{
	padding-left: 1rem;
	padding-right: 1rem;
	opacity: 1;
}
.loging form input{
	width: 13rem;
	height: 2rem;
}

.loging h3{
	font-size: 25px;
	text-align: center;
} 
.loging lable{
	font-size: 18px;
}
.loging form a{
	text-decoration: none;
}
.loging form a:hover{
	font-size: 20px;
}
.button{
    text-align: center;
	
}
.loging button{
	padding: 10px 30px;
	font-size: 15px;
}
.loging button:hover{
	background-color: orange;
	font-weight: bold;
}